body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F6F8F9;
    font-family: 'Helvetica'
}

a {
    text-decoration: none;
}
ul{
    list-style: none;
}
.mobile-nav{
   display: none;
}

header{
    display: flex;
    height: 3.472vw;
    background-color:  #F6F8F9;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0;
  
}
.logo{
    font-size: 0.903vw;
    margin-left: 20px;
    color: #FA6980;
    font-family: 'Helvetica';
    font-weight: bolder;
}
.avatar{
    height: 2.083vw
    ;
    margin-right: 20px;
}
nav{
    display: flex;
    align-items: center;
}
nav ul li a{
    font-size: 0.764vw;
    margin-right: 22px;
    color: #343638;
    opacity: 0.5;
    font-weight: bold;
}
nav ul li a:hover{
    transition:  0.3s;
    opacity: 1;
}

nav ul li a:not(:last-child){
    
}
nav ul{
    display: flex;
    list-style: none;

     margin-right: 18px;
}

.felxtest{
    display: flex;
    justify-content: space-between;
}

.body-flex{
   display: flex;
   background-color:white;
   padding: 0;
   
   
  
}
.body-flex img{
    display: block;
    /* width: 58.3%; */
    height: 41.667vw ;
    
   
}
.world-news{
    width: 41.66%;
    height: 17.153vw;
    
    position: absolute;
    top: 16.458vw;
    left: 9.72%;
}
.world-news-header{
 width: 93.3%;
 height: 4.167vw;
 border-bottom: 2px solid #FFFFFF;
}
.world-news-header p{
    font-size: 1.667vw;
    font: normal normal bold 24px/20px Helvetica;
    color: white;
    margin: 0;
}
.world-news-article{
    width: 90%;
    height: 10.1vw;
   
    margin-top: 2.778vw;
}
.world-news-title{
    width: 100%;
    height: 25px;
    
}
.added-time{
   font-size:0.903vw;
   color: #A6ADB4;
   margin-top: 2.5vw;

}
.added-time i{
    height: 10px;
    margin-right: 0.5vw;
}
.world-news-title p{
    margin: 0;
    color: #FFFFFF;
    
    font-size: 1.667vw;
    font-weight: bold;
}
.world-news-button{
    width: 22.33%;
    height: 2.778vw;
    border-radius: 6px;
    border-style: none;
    background-color: #FA6980;
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: center;
    cursor: pointer; 
    
    transition: 0.4s;
    transition-property: transform; 
    
}
.world-news-button p{
    
    margin: 0 auto;
    margin-top: 1vw;
    font-size: 0.8vw;
}
.world-news-button:hover{
    transform: scale(1.1)
}
.world-news-article-preview{
    width: 93.3%;
    height: 2.986vw;
    color: white;

}
.world-news-article-preview p{
    font-size: 1.111vw;
    line-height: 1.389vw;
    margin-top: 0.694vw;
    margin-left: 0;

}
.sacdeli{
    width: 58.3%;
   height: 41.667vw ;
  
   padding: 0;
   margin-top: 0;
    
}
.article-card{
    width: 41.6%;
    min-height: 41.667vw;
    
    display: flex;
    align-items: center;
}

.news-title-flex{
    
    background-color: red;
}
.large-article-title span{
    display: none;
}
.news-section{
   background-color: white;
    height: 66.6%;
    width: 63.3%;
    margin-left: 16.6%;
}

.news-slider a:first-child{
    margin-left: 12vw;
    margin-right: 2.3vw;
}
.news-slider{
    display: flex;
    
    width: 100%;
    height: 15%;
    width: 100%;
    border-bottom: 2px solid #EBEDED;
    font-size: 1.667vw;
    font: normal normal bold 24px/20px Helvetica;
}


.travel{
   
    width: 100%;
    height: 8.958vw;
}
.news-subtitle{
    display: none;
}
.technology{
    
    width: 100%;
    height: 42.5%;
}
.travel-card{
    margin-top: 25px;
    
    margin-top: 2.847vw;
}

.travel-card p{
    height: 1.111vw;
    margin-left: 0px;
}

.travel-card p:first-child{
    font-weight: bold;
    color: #FA6980;
}
.article-title{
    
    font-size: 1.111vw;
    color: #202124;
    font-weight: bold;
    height: 1.111vw;
    margin-top: 1.389vw;
    margin-bottom: 0.694vw;
}
.travel-preview{
    color: #A6ADB4;
    font-size: 1.111vw;
    height: 2px;
    line-height: 1.6vw;
    
    margin-top: 0.694vw;
}
.added-time{
  
    margin-left: 0px;
}

.trending-box{
    width: 80.5%;
    height: 28.472vw;

    margin: 0 auto ;
    margin-top: 2.778vw;
    margin-bottom: 2.778vw;
    
}
/* .trending-box p{
    
    margin-bottom: 2.500vw;
} */

.trending-card{
    width: 31%;
    height: 25vw;
    background-color: white;
    border-radius: 0px 0px 6px 6px;
}
.trendgin-img{
   display: block;
 width: 50%;
 height: 50%;
}

.trending-card-title{
    font-size: 1.111vw;
    margin-top: 2.778vw;
    margin-left: 2.778vw;
    font-weight: bold;
    text-align: left;
    
}
.trending-article-preview{
    font-size: 0.903vw;
    line-height: 1.4vw;
   color: #A6ADB4;
   
   width: 19.444vw;
   margin-left: 2.778vw;
}

.trending-time-added{
    font-size: 0.903vw;
    margin-left: 2.778vw;
    color: #A6ADB4;
    
}

.trending-time-added i{
    margin-right: 0.5vw;
}
p { margin:10px }

.tending-flex{
    display: flex;
    justify-content: space-between;
}
.trending-box p:first-child{
    text-align: left;
   
    font-size: 1.667vw;
   font-weight: bold;
    margin-left: 0;
}
.main-content{
    height: 66.319vw;
    width: 80.5%;
    background-color:  #F6F8F9;
    margin: 0 auto;
    margin-bottom: 6.944vw;
}

.main-title{
    font-size: 1.667vw;
    font-weight: bold;
    margin-bottom: 2.778vw;
    margin-left: 0px;
}


.main-flex{
    width: 100%;
    height:62.500vw;
    
    display: flex;
    justify-content: space-between ;
}

.large-articles{
    width: 65.5%;
    height: 62.500vw;
   
    
}

.small-articles{
    width: 31.03%;
    height: 62.500vw;
   
}
.large-articles img{
    width: 100% ;
    height: 100%;
}


.large-card{
    height: 29.861vw;
    margin-bottom: 2.778vw;
    position: relative;
}
.large-card img{
    width: 100% ;
    height: 100%;
}
.larg-article-box{
    width:47.917vw;
    height: 24.306vw;
   color: white;
    position: absolute;
    left: 2.778vw;
    top: 2.778vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.larg-article-box p{
    margin: 0;
}
.box-title{
    font: normal normal bold 16px/20px Helvetica;
    font-size: 1.111vw;
    
}
.large-article-content{
    height: 7.083vw;
    width: 100%;
   
    
}
.large-article-title{
    
    font-size: 1.667vw;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.large-article-preview{
    height: 2.917vw;
    color: white;
    padding-top: 10px;
    font-size: 1.111vw;
    
    font: 'Acumin Pro'
}
.large-article-time{
    padding-top: 5px;
    height: 1.042vw;
    color: white;
    font-size: 0.903vw;
    color: #CBD0D3;
    
}
.small-card{
    height:18.889vw;
    margin-bottom: 2.778vw;
}

.small-card img{
    width: 100% ;
    height: 77.10%;
}
.small-card-title{
    font-size: 1.111vw;
    font-weight: bold;
    margin-left: 0;
}

.small-card-time{
    font-size: 13px;
    color: #A6ADB4;
    margin: 0;
}

footer{
    height: 200px;
    background-color: #A6ADB4 ;
    display: flex;
    justify-content: space-between;
   
}

.fab {
    color: white;
    height: 1.111vw;
}
.fas{
    color: white;
    height: 1.111vw;
}
.small-card a{
    text-decoration: underline;
}
.fa-clock{
    height: 1.11wv;
}

.footer-left{
    display: flex;
    margin-left: 9.86%;
    justify-content: space-between;
    width: 26.263%;
    height: 5.833vw;
    margin-top: 56px;
    font-size: 13px;
 
}

.footer-logo{
    color: white;
    font-weight: bold;
    font-family: 'Acumin Pro';
}
.footer-left ul{
    
    margin-top: 0px;
    
}
.footer-left ul li{
    margin-bottom: 0.556vw;
}
.footer-left ul a{
    color: #CBD0D3;
    font-size:0.903vw;
    font-weight: bold;
}
.footer-right{
    margin-right: 9.63%;
    display: flex;
    width: 37.5%;
   
    justify-content: space-between;
    margin-top: 56px;
}
.social-icons{
    margin-top: 0;
    display: flex;
    width: 11.11vw;
   
    justify-content: space-between ;
}

.footer-right p{
    margin-left: 0px;
    font-size: 11px;
    color: #CBD0D3
}

input:focus{
    outline: none;
}


.footer-right input{
    width: 18.194vw;
    height: 2.778vw;
    border: 2px solid #FFFFFF;
border-radius: 6px;
opacity: 0.5;
background-color: #A6ADB4;
display: flex;
justify-content: space-between


}
form{
    position: relative;
}
::placeholder{
    padding-left: 20px;
    color: #CBD0D3;
    font-size: 13px;
    display: inline-block;
  
    display: flex;
    justify-content: space-between;
}
.fa-paper-plane {
    position: absolute;
    opacity: 0.5;
    top: 1vw;
    right: 10%;
    height: 13px;
    color: white;
    
}
.swiper-container {
    width: 80.5%;
    height: 28.472vw;
 
    margin: 0 auto ;
    margin-top: 2.778vw;
    margin-bottom: 2.778vw;
}

.swiper-slide{
    
    background-color: white;
    width: 5vw;
    height: 25vw;
    margin-right: 40px;
    border-radius: 0px 0px 6px 6px;
}

.swiper-wrapper{
    display: flex;
    justify-content: space-between;
   
}
.swiper-container p:first-child{
    text-align: left;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 2vw;
    font-size: 1.667vw;
   
    
}

.swiper-button-prev {
    background-image: url("../images/arrowback.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    position: absolute;
    top: 1vw;
    left: 76.014vw;
    width: 6px;
    
    
  }
  .swiper-button-next {
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    
    background-position: center;
    position: absolute;
    top: 1vw;
    right: -0.5vw;
    
  }
  
  .swiper-button-prev::after{
      display: none;
  }
  .swiper-button-next::after{
      display: none;
  }
  
.trendgin-img{
    width: 100%;
}

.news-slider-flex{
   
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.news-slider-flex p{
    display: inline-block;
    
    
}

.news-slider-arrow img{
    height: 10px;
}
.news-slider-arrow{
    
    display: flex;
}

.news-slider-arrow img:first-child{
    margin-right: 3vw;
}

.slider-nav{
    
    display: flex;
    justify-content: space-between;
}
.main-title{
    margin-top: 0px;
    
}
.news-slider-flex p{
    margin: 0;
}


.slider-arrows img:first-child{
    margin-right: 3vw;
}

@media (max-width: 1250px){
   nav ul li a{
      
       
   }
   .travel-preview{
        color: #A6ADB4;
        font-size: 1.2vw;
    }
    .trending-card-title{
        font-size: 1.4vw;
    }
    .trending-article-preview{
        font-size: 1.2vw;
    }
    .large-article-preview{
        font-size: 1.3vw;
    }
    .small-card-title{
        font-size: 1.3vw;
    }
    .footer-left ul a{
        
        font-size: 1.1vw !important;
    }



}
@media (max-width: 1050px){
    .fa-paper-plane{
        right: 15%;
    }
}

@media (max-width: 1145px){
    .fa-paper-plane{
        right: 20%;
    }
}

@media (max-width: 1025px){
    .logo{
        font-size: 1.693vw;
        margin-bottom: 0px;
    }
    nav ul li a{
        
        font-size: 1.432vw;
    }
    .avatar{
        height: 3.906vw;
    }
    header{
        height: 6.510vw;
    }
    .body-flex{
        margin-top: 0px;
        flex-direction: column;
        
       
    }

    .article-card{
        
        height: 44.661vw;
    }

    .news-section{
        
        height: 28.906vw;
        margin-bottom: 30px;
       
    }
    .news-subtitle{
        display: block;
        margin-top: 2.6vw;
        font-weight: bold;
       margin-bottom: 2vw;
    }
    .news-slider{
        margin-bottom: 1.5vw;
    }
    .travel-preview{
        font-size: 2.083vw;
        line-height: 3vw;
    }
    .added-time{
        margin-top: 6vw;
        font-size: 1.693vw;
    }

    .body-flex img{
       width: 100%;
       overflow:hidden;
      height: 52.083vw;
      overflow:hidden;
       object-fit: cover;
       
       margin:0px;
       padding: 0px;

      }
      .news-slider-arrow img{
        height: 10px;
        object-fit: normal;
      }
      .world-news{
          
          left: 10.417vw;
          top: 18.099vw;
          width: 79.167vw;
          height: 31.120vw;
      }
      .world-news-header{
          height: 7.422vw;
      }
      .world-news-article{
          height: 9.896vw;
          
      }
      .world-news-title p{
          font-size: 3.125vw;
      }
      
      .world-news-button{
          height: 5.208vw;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .world-news-button p{
          font-size: 1.432vw;
          padding-bottom: 1vw;
      }
      .world-news-article-preview p{
          height: 5.599vw;
          
          font-size: 2.083vw;
          line-height: 3vw;
      }


      .world-news-header p{
          font-size: 3.125vw;
      }


      .article-card{
          
          width: 100%;
          height: 44.661vw;

      }
      .news-slider{
          height: 7.813vw;
          font-size: 3.125vw;
      }
     
      
      .news-section{
       width: 79.167vw;
       margin-left: 10.417vw;
       
     }
     .card-flex{
         display: flex;
     }

     
     .article-title{
         display: none;
     }
     
    .news-slider a:first-child{
        margin-left: 53vw;
        margin-right: 5vw;
    }  
     
     .swiper-slide{
         height: 44.271vw;
     }
     .trending-card-title{
         font-size: 2.083vw;
         margin-top: 5.208vw;
         margin-bottom: 0.302vw
         ;
         
     }
     .trending-article-preview{
         width: 26.563vw;
         height: 4.948vw;
         font-size: 1.693vw;
         line-height: 3vw;
         margin-top: 10px;
         
     }
     .fa-clock{
         margin-right: 8px;
     }
     .trending-time-added{
         font-size: 1.693vw;
         margin-top: 2.5vw;
     }
     .swiper-container{
       
         margin-top: 0.1vw;
         width: 79.167vw;
         height: 52.776vw;
         padding-top: 50px;
     }
     .swiper-container p:first-child{
         font-size: 3.125vw;
         margin-bottom: 4vw;
         font-weight: bold;
     }
.swiper-button-prev{
    margin-left: -3vw;
  
}
.swiper-button-next{
    margin-left: 20px;
}
     .main-content{
         
         width: 79.167vw;
         height: 161.719vw;
         }
     .main-title{
         font-size: 3.125vw;
         margin-bottom: 4.688vw;
    }
    .main-flex{
        flex-direction: column;
    }
    .large-articles{
        
       width: 100%;
       height: auto;
    }
    .large-card{
        
        height: auto;
        margin-bottom: 5.208vw;
        
    }
    .small-articles{
        
        display: flex;
    }
    .box-title{
        font-size: 2.083vw;
    }
    .larg-article-box{
        
        width: 68.750vw;
        height: 45.573vw;
        left: 5.208vw;
        top: 5.208vw;
    }
    .large-article-title{
        font-size: 3.125vw;
    }
    .large-article-content{
        
        height: 13.802vw;
    }
    .large-article-preview{
        font-size: 2.083vw;
        margin-top: 1.302vw;
        margin-bottom:1.302vw ;
        ;
        height: 6.120vw;
        line-height: 20px;
    }
    .large-article-time{
        
        height: 4vw;
        font-size: 1.693vw;
        padding-top: 10px;
    }
    .large-articles img{
        height: 55.990vw;
    }
    .small-card:first-child{
        margin-right: 5.208vw
        ;
    }
    .small-card:last-child{
       display: none; 
      
    }
    .small-articles{
        margin-bottom: 500px;
        width: 100%;
    }
    .small-card{
        height: 31.510vw;
        width: 36.979vw;
        
    }

    .small-card-title{
        height: 2.083vw;
        font-size: 2.083vw ;
    }
    
    .small-card-time{
        font-size: 1.693vw
        ;
    }

    .small-card img{
        width: 100%;
    }
    
    .trending-time-added{
      
        margin-top:5vw;
    }

    footer{
        height: 41.146vw;
        flex-wrap: wrap;
        margin-top: 10.417vw;
    }
    .footer-left{
        height: 10.938vw;
        width: 75vw;
        
    }
    .footer-logo{
        width: 42.188vw;
        font-size: 1.693vw;
    }
    .footer-left ul a{
        font-size: 1.693vw;
    }
    .footer-right{
        
        width: 79.167vw;
        margin-left: 10.417vw;
        height: 8.594vw
        ;
    }
    .footer-right input{
        width: 36.979vw;
        height: 5.208vw;
    }
    .social-icons{
        margin-top: 6.510vw;
      width: 17.708vw;
    }
    
    .fa-paper-plane{
        top: 15px;
        right: 20px;
    }
}


/*mobile */

@media (max-width: 570px){
      header nav ul{
        display: none;
      }
      header{
          height: 23.467vw;
      }
      .mobile-nav{
          margin-top: 9vw;
          display: block;
          height: 3.733vw;
          width: 4.267vw;
         margin-left: 16px;
      }
      .mobile-menu{
          display: block;
           width: 100%;
      }
      
      .logo{
          height: 4vw;
          width: 10.133vw;
          margin-top: 9vw;
          font-size: 3.467vw;
          color: #A6ADB4;
      }
      .avatar{
        margin-top: 9vw;
          height: 4.267vw;
      }
      .body-flex img{
          height: 103.467vw;
      }

      .news-slider-arrow img{
          height: 10px;
      }
      .news-slider-arrow img:first-child{
          margin-right: 30px;
      }
      
      .world-news{
          height: 82.133vw;
         
          margin-top: 16vw;
          width: 87.200vw;
          left: 6.667vw;
      }
      .world-news-header{
          
          height: 16vw;
          width: 100%;
          margin-bottom: 8vw;
      }
      .world-news-header p {
         
        margin-top: 3px;  
        font-size: 6.400vw;
      }
      .world-news-title p{
          font-size: 6.4vw;
      }
      .world-news-title p span{
          display: none;
      }
      .world-news-article{
          width: 100%;
          
      }
      .world-news-article-preview p{
          font-size: 4.267vw;
          margin-top: 15vw;
          line-height: 6vw;
          width: 87.200vw;
      }
      .world-news-button{
          height: 10.667vw;
          width: 40.267vw;
      }
      .world-news-button p{
          font-size: 2.933vw;
          font-weight: bold;
      }
      .article-card{
          margin-top: 45vw;
      }
      .news-section{
         
         height: 106.133vw;
      }
      .body-flex{
          height: 230.933vw;
      }
      .news-slider{
          height: 15vw;
      }
      .news-slider{
          font-size: 6.400vw;
      }
      .news-slider p{
          margin-top: 0px;
          margin-left: 0px;
          
          width: 70vw;
          font-size: 6.400vw;
      }
     
     
      .news-slider a:last-child{
          margin-left: 6vw;
      }
    
      .card-flex{
          
          height: 78.933vw;
          flex-direction: column;
          justify-content: space-between;
      }
      .travel-card{
          margin-top: 40px;
      }
      .travel-card p:first-child{
         font-size: 4.267vw;
      }
      
      .news-subtitle{
          display: none;
      }
      .article-title{
          display: block;
          font-size: 4.267vw;
          margin-top: 8vw;
      }
    .travel-preview{
        font-size: 4.267vw;
        margin-top: 5vw;
        line-height: 6vw;
    }
    .added-time{
        font-size: 3.467vw;
        margin-top: 15vw;
    }
    
    .trending-card-title{
        margin-top: 8vw;
        font-size: 4.267vw;
        margin-left: 6.400vw;
    }
    .trending-article-preview{
        font-size: 3.467vw;
        width: 74.400vw;
        line-height: 6vw;
        margin-top: 1.5vw;
        margin-left: 6.400vw;
    }
    .trending-time-added{
        margin-top: 9vw;
        font-size: 3.467vw;
        color: #A6ADB4;
        margin-left: 6.400vw;
    }
   
    .swiper-container{
        height: 172.933vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
        width: 87.200vw;
    }
     
    .swiper-container p:first-child{
       
        font-size: 24px;
        display: inline-block;
        width: 50%;
        position: absolute;
        top: 1px;
    }
   
   .swiper-button-prev{
       margin-top: -15px;
       margin-right: -2px;
   }
   .swiper-button-next{
       margin-top: -15px;
   }

   .trending-mobile{
      font-size: 6.400vw;
      font-weight: bold;
      position: absolute;
      top: 1px;
      
   }
    
   
    .swiper-slide{
        height: 50%;
      width: 100%;
    }
   .swiper-slide img{
       height: 41.067vw;
   }
   .slider-nav{
       display: flex;
       
       justify-content: space-between;
   }
 
   .slider-arrows img:first-child{
       margin-right: 30px;
   }
   .main-content{
       margin-bottom: 0px;
       height: 422.933vw;
       width: 87.200vw;
   }
   .main-title{
       font-size: 6.400vw;
       margin-bottom: 8vw;
   }
   .main-flex{
      
       height: 170.667vw;
   }
   .main-flex img{
    height: 80vw;
    overflow:hidden;
       object-fit: cover;
   }
   .box-title{

       font-size: 4.267vw;
   }
  .large-article-title{
      display: block;
     
      font-size: 6.400vw;
      height: 8vw;
      padding-top: 13vw;
      
  }
  .larg-article-box{
      margin-top: 4vw;
      
      height: 250px;
      display: block;
  }
  .large-article-content{
      
      height: 200px;
  }
 
  .large-article-preview{
      font-size: 4.267vw;
      line-height: 6vw;
      height: 20vw;
      padding-top: 10vw ;
  }
  .large-article-time{
      font-size: 3.467vw;
  }
  .small-articles{
       height: 214.933vw;
      flex-direction: column;
    }
  .small-articles::before{
    content:'';
    width: 327px;
    margin-top: 5vw;
    display:inline-block;
    margin-right:-100%;
    border-bottom: 2px solid #EBEDED;
    margin-bottom: 12vw;
  }
  .small-card{
    
      width:87.200vw;
      margin-bottom: 43vw;
  }

  .small-card img {
      height: 48vw;
  }

  
  .small-card:last-child{
    display: block;
  }
  .small-card-title{
      font-size: 4.267vw;
      margin-bottom: 5vw;
  }
  .main-content img{
      border-radius: 6px;
  }
  .small-card-time{
      font-size: 3.467vw;
  }
  footer{
      display: none;
  }
}